<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <button ng-click="dispAllStud()" class="btn btn-outline-success">Display All Students</button>
    <h5>Count: {{totalStud}}</h5>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <th>Roll No</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Date</th>
        </thead>
        <tbody>
            <tr ng-repeat="student in studentModel.studentArr">
                <td>{{student.rollNo}}</td>
                <td>{{student.name}}</td>
                <td>{{student.age}}</td>
                <td>{{student.email}}</td>
                <td>{{student.isMale | gender}}</td>
                <td>{{student.date}}</td>
                <td ng-click="delete(student)" class="btn"><button class="btn btn-outline-danger">Delete</button></td>
                <td>{{student.id}}</td>
                <td><a href="#/edit" ng-click="loadId(student)" class="btn">Click Here</a></td>
            </tr>
        </tbody>
    </table>
</body>

</html>